.activity {
	&__list {
		display: flex;
	}

	&__item {
		height: 20px;
		min-height: 20px;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__image {
		min-height: 20px;
		min-width: 20px;
	}
}

@media (max-width: 425px) {
	.activity {
		&__list {
			display: none;
			&-menu {
				display: flex;
			}
		}
		&__icon {
			width: 40px;
			height: 40px;
			fill: var(--white-color);
			&-heart {
				stroke: none;
			}
			&-bag {
				fill: none;
				stroke: var(--white-color);
			}
			&-search {
				fill: none;
				stroke: var(--white-color);
			}
		}
	}
}
