.header {
	padding: 21px 0;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		margin: unset;
		width: var(--container-width);
	}

	&__button {
		white-space: nowrap;
	}
}
