.nav {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		&:not(:nth-child(5n)) {
			margin-right: 40px;
		}
	}

	&__link {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: var(--black-color);
		position: relative;
		transition: all 0.3s ease;

		padding-bottom: 11px;
		border-bottom: 2px solid var(--black-color);

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: -11px;
		// 	left: -10px;
		// 	width: 110%;
		// 	height: 2px;
		// 	opacity: 0;
		// 	transition: all 0.3s ease;
		// 	background-color: var(--black-color);
		// }

		&:hover {
			text-shadow: 0 0 #333, 0 0 #333, 0 0 0.9px #333;
			transition: all 0.3s ease;

			// &::after {
			// 	transition: all 0.3s ease;
			// 	opacity: 1;
			// }
		}

		&-logo {
			border: none;
		}
	}

	&__logo {
		margin: 0 54px;
	}
}
