.shop {
	background-color: var(--white-color);
	&__container {
		padding-bottom: 70px;
	}
	&__title {
		padding: 70px 0;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px;
	}
	&__item {
		grid-column: 3 span;
		position: relative;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 425px) {
	.shop {
		&__title {
			padding: 50px 0;
		}
		&__item {
			grid-column: 6 span;
		}
	}
}

@media (max-width: 320px) {
	.shop__item {
		grid-column: 12 span;
	}
}
