<section class="advantages">
	<div class="container">
		<ul class="advantages__list list-reset">
			<li class="advantages__item">
				<img
					loading="lazy"
					src="./img/fast-delivery.svg"
					class="image"
					width="48"
					height="48"
					alt="Иконка доставки"
				/>
				<h4 class="advantages__title">Fast shipping</h4>
				<p class="advantages__text">
					We ship our in-stock cabinets with 1-2 business days.
				</p>
			</li>
			<li class="advantages__item">
				<img
					loading="lazy"
					src="./img/like-shapes.svg"
					class="image"
					width="48"
					height="48"
					alt="Иконка лайк в рамке"
				/>
				<h4 class="advantages__title">100% CUSTOMER SATISFACTION</h4>
				<p class="advantages__text">
					We stand behind all of our high-quality products and offer a
					1-Years manufacturer’s warranty
				</p>
			</li>
			<li class="advantages__item">
				<img
					loading="lazy"
					src="./img/3d-cube-scan.svg"
					class="image"
					width="48"
					height="48"
					alt="Иконка куба в рамке"
				/>
				<h4 class="advantages__title">CURBSIDE DELIVERY</h4>
				<p class="advantages__text">
					Bulky Items Such As Vanities Or Countertops We Ship Only
					With The Curbside Delivery. More Information You Can Read At
					The Shipping And Delivery Section.
				</p>
			</li>
			<li class="advantages__item">
				<img
					loading="lazy"
					src="./img/user-octagon.svg"
					class="image"
					width="48"
					height="48"
					alt="Иконка пользователя в рамке"
				/>
				<h4 class="advantages__title">CURBSIDE DELIVERY</h4>
				<p class="advantages__text">
					Do you have any questions? Please feel free to give us a
					CALL or TXT. We love to talk to you!
				</p>
			</li>
		</ul>
	</div>
</section>
