<section class="details">
	<div class="container details__container">
		<ul class="details__list list-reset">
			<li class="details__item">
				<img
					loading="lazy"
					src="./img/map.svg"
					class="image details__icon"
					width="26"
					height="26"
					alt="Иконка карты"
				/>
				<h5 class="details__subtitle">Address details</h5>
				<p class="details__text">
					6510 Jimmy Carter Blvd, Suite C, Norcross, GA, 30071
				</p>
			</li>
			<li class="details__item">
				<img
					loading="lazy"
					src="./img/sms.svg"
					class="image details__icon"
					width="26"
					height="26"
					alt="Иконка карты"
				/>
				<h5 class="details__subtitle">EMAIL ADDRESS</h5>
				<p class="details__text">
					info@willowbathandvanity.com willowbathandvanity@gmail.com
				</p>
			</li>
			<li class="details__item">
				<img
					loading="lazy"
					src="./img/calendar.svg"
					class="image details__icon"
					width="26"
					height="26"
					alt="Иконка карты"
				/>
				<h5 class="details__subtitle">HOUR OF OPERATION</h5>
				<p class="details__text">
					Monday – Saturday : 09:00 am – 6:00 pm EDT
				</p>
			</li>
			<li class="details__item">
				<img
					loading="lazy"
					src="./img/phone.svg"
					class="image details__icon"
					width="26"
					height="26"
					alt="Иконка карты"
				/>
				<h5 class="details__subtitle">TELEPHONE NUMBER</h5>
				<p class="details__text">877-788-8444</p>
			</li>
		</ul>
	</div>
</section>
