<section class="hero">
	<div class="container-smaller">
		<div class="swiper swiper-hero">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide-hero">
					<img
						src="./img/slide1img.avif"
						class="slide__image-hero"
						alt="Изображение слайда"
					/>
					<div class="slide__info-hero">
						<div class="slide__prices-hero list-reset">
							<div
								class="slide__price-hero slide__price-old-hero"
							>
								$2,000.00
							</div>
							<div class="slide__price-hero">$1,475.00</div>
						</div>
						<h3 class="slide__title-hero">
							Willow Collections Santa Monica Solid Teak
						</h3>
						<p class="slide__text-hero">
							Wood Right Vanity in Grey Washed with 5 cm Calacatta
							Quartz
						</p>
						<div class="btn__container">
							<button class="btn-reset btn__primary">
								Shop Now
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide slide-hero">
					<img
						src="./img/slide1img.avif"
						class="slide__image-hero"
						alt="Изображение слайда"
					/>
					<div class="slide__info-hero">
						<div class="slide__prices-hero list-reset">
							<div class="slide__price slide__price-old-hero">
								$2,000.00
							</div>
							<div class="slide__price-hero">$1,475.00</div>
						</div>
						<h3 class="slide__title-hero">
							Willow Collections Santa Monica Solid Teak
						</h3>
						<p class="slide__text-hero">
							Wood Right Vanity in Grey Washed with 5 cm Calacatta
							Quartz
						</p>
						<div class="btn__container">
							<button class="btn-reset btn__primary">
								Shop Now
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide slide-hero">
					<img
						src="./img/slide1img.avif"
						class="slide__image-hero"
						alt="Изображение слайда"
					/>
					<div class="slide__info-hero">
						<div class="slide__prices-hero list-reset">
							<div
								class="slide__price-hero slide__price-old-hero"
							>
								$2,000.00
							</div>
							<div class="slide__price-hero">$1,475.00</div>
						</div>
						<h3 class="slide__title-hero">Третий слайд</h3>
						<p class="slide-hero__text">
							Wood Right Vanity in Grey Washed with 5 cm Calacatta
							Quartz
						</p>
						<div class="btn__container">
							<button class="btn-reset btn__primary">
								Shop Now
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide slide-hero">
					<img
						src="./img/slide1img.avif"
						class="slide__image-hero"
						alt="Изображение слайда"
					/>
					<div class="slide__info-hero">
						<div class="slide__prices-hero list-reset">
							<div
								class="slide__price-hero slide__price-old-hero"
							>
								$2,000.00
							</div>
							<div class="slide__price-hero">$1,475.00</div>
						</div>
						<h3 class="slide__title-hero">Четверный слайд</h3>
						<p class="slide__text-hero">
							Wood Right Vanity in Grey Washed with 5 cm Calacatta
							Quartz
						</p>
						<div class="btn__container">
							<button class="btn-reset btn__primary">
								Shop Now
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination slide__pagination-hero"></div>
		</div>
	</div>
</section>
