<section class="hero">
	<div class="container-smaller">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide">
					<img src="./img/slide1img.png" alt="Изображение слайда" />
					<div class="slide__info">
						<ul class="slide__prices list-reset">
							<li class="slide__price slide__price-old">
								$2,000.00
							</li>
							<li class="slide__price">$1,475.00</li>
						</ul>
						<h3 class="slide__title">
							Willow Collections Santa Monica Solid Teak
						</h3>
						<p class="slide__text">
							Wood Right Vanity in Grey Washed with 5 cm Calacatta
							Quartz
						</p>
						<div class="btn__container">
							<button class="btn-reset btn__primary">
								Shop Now
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
