<section class="products">
	<div class="container products__container">
		<h2 class="title__primary">Best seller products</h2>
		<div class="products__list">
			<div class="products__item">
				<div class="products__actions">
					<button
						class="btn-reset products__btn products__btn-preview"
					>
						<span class="products__btn-text">Quick preview</span>
					</button>
					<button class="btn-reset products__btn products__btn-heart">
						<img
							loading="lazy"
							src="./img/white-heart.svg"
							class="image products__heart"
							width="24"
							height="24"
							alt="Иконка черного сердца"
						/>
						<!-- <svg class="products__heart">
							<use xlink:href="img/sprite.svg#heart"></use>
						</svg> -->
					</button>
				</div>
				<img
					src="./img/product-1.png"
					class="image products__img"
					alt="Изображение товара"
				/>
			</div>
			<div class="products__item">
				<img
					src="./img/product-2.png"
					class="image products__img"
					alt="Изображение товара"
				/>
			</div>
			<div class="products__item">
				<img
					src="./img/product-3.png"
					class="image products__img"
					alt="Изображение товара"
				/>
			</div>
			<div class="products__item">
				<img
					src="./img/product-4.png"
					class="image products__img"
					alt="Изображение товара"
				/>
			</div>
		</div>
	</div>
</section>
