<section class="shop">
	<div class="container shop__container">
		<h2 class="title__primary shop__title">Our shop</h2>
		<ul class="shop__list list-reset">
			<li class="shop__item">
				<img src="./img/shop-img-1.avif" alt="Изображение товара" />
				<button class="btn btn-reset btn__secondary shop__btn">
					<span class="btn__text-secondary">Best Seller</span>
					<img
						loading="lazy"
						src="./img/arrow-right.svg"
						class="image"
						width="24"
						height="24"
						alt="Стрелка вправо"
					/>
				</button>
			</li>
			<li class="shop__item">
				<img src="./img/shop-img-2.avif" alt="Изображение товара" />
				<button class="btn btn-reset btn__secondary shop__btn">
					<span class="btn__text-secondary">Bathroom Vanities</span>
					<img
						loading="lazy"
						src="./img/arrow-right.svg"
						class="image"
						width="24"
						height="24"
						alt="Стрелка вправо"
					/>
				</button>
			</li>
			<li class="shop__item">
				<img src="./img/shop-img-3.avif" alt="Изображение товара" />
				<button class="btn btn-reset btn__secondary shop__btn">
					<span class="btn__text-secondary">New Arrival</span>
					<img
						loading="lazy"
						src="./img/arrow-right.svg"
						class="image"
						width="24"
						height="24"
						alt="Стрелка вправо"
					/>
				</button>
			</li>
			<li class="shop__item">
				<img src="./img/shop-img-4.avif" alt="Изображение товара" />
				<button class="btn btn-reset btn__secondary shop__btn">
					<span class="btn__text-secondary"
						>Freestanding Bathtubs</span
					>
					<img
						loading="lazy"
						src="./img/arrow-right.svg"
						class="image"
						width="24"
						height="24"
						alt="Стрелка вправо"
					/>
				</button>
			</li>
		</ul>
	</div>
</section>
