<section class="subscribe">
	<div class="container subscribe__container">
		<h2 class="subscribe__title">Subscribe to outr newsletter</h2>
		<h6 class="subscribe__subtitle">Know what’s up. Sign up for e-mails</h6>
		<form class="form subscribe__form" id="email-form">
			<img
				loading="lazy"
				src="./img/email.svg"
				class="image subscribe__icon subscribe__icon-email"
				width="20"
				height="17"
				alt="Иконка письма"
			/>
			<input
				class="subscribe__input"
				type="email"
				name="email"
				id="emailInput"
				placeholder="Enter your e-mail..."
			/>
			<button class="btn-reset btn__primary subscribe__btn" type="submit">
				Subscribe
			</button>
		</form>
		<ul class="subscribe__list list-reset">
			<li class="subscribe__item">
				<a href="#" class="subscribe__link">
					<svg class="subscribe__icon subscribe__icon-linkedin">
						<use xlink:href="img/sprite.svg#linkedin"></use>
					</svg>
				</a>
			</li>
			<li class="subscribe__item">
				<a href="#" class="subscribe__link">
					<svg class="subscribe__icon subscribe__icon-facebook">
						<use xlink:href="img/sprite.svg#facebook"></use>
					</svg>
				</a>
			</li>
			<li class="subscribe__item">
				<a href="#" class="subscribe__link">
					<svg class="subscribe__icon subscribe__icon-instagram">
						<use xlink:href="img/sprite.svg#instagram"></use>
					</svg>
				</a>
			</li>
			<li class="subscribe__item">
				<a href="#" class="subscribe__link">
					<svg class="subscribe__icon subscribe__icon-twitter">
						<use xlink:href="img/sprite.svg#twitter"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>
